* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-css {
    background-color: rgb(231, 231, 231);
    padding: 10px;
}

.navbar-css-ul a {
    color: rgb(0, 0, 0) !important;
    display: flex !important;
}

.text-logo {
    color: rgb(0, 0, 0);
}

footer {
    background-color: #000014f6;
    padding: 7px;
    color: white;
    text-align: center;
}

.banner img {
    height: 400px;
    width: 100%;
}

.container-titulos {
    text-align: center;
    background-color: #000014f6;
    height: 50px;
}

.container-titulos h1 {
    color: white;
    padding: 25px;
    font-size: 3em;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #000014f6;
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    padding: 40px;
}

.card img {
    height: 250px !important;
}

li {
    padding: 10px;
}

.li-css img {
    margin-top: -5px;
    margin-right: 10px;
    align-items: center;
}

.li-css {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: #5e4dcd;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.input-container {
    width: 220px;
    position: relative;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }

  .input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }

.button--submit {
    min-height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
    background-color: #ff0000;
}

.input:focus,
.input:focus-visible {
    border-color: #000000;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5e4dcd;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.linha {
    margin-top: 5px;
    height: 3px;
    background-color: rgb(231, 231, 231);
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: rgb(231, 231, 231);
}

.formulario h1 {
    text-align: center;
}

label {
    margin: 10px;
}

.btn {
    margin-top: 10px;
}

.flash-msg {
    text-align: center;
    align-items: center;
    background-color: rgba(13, 151, 0, 0.582);
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: -16px;
}

.flash-msg p {
    padding: 5px;
}

.show-sinopse {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border: 1px solid black;
    margin: 35px;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    box-shadow: 1px 1px 3px purple;
}

.show-sinopse img {
    height: 500px;
    width: 500px;
    margin-right: 10px;
    border-radius: 30px;
}

.infos-sinopse {
    height: 500px;
    padding: 20px;
}

input[type="checkbox"] {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    align-items: center;
}

.checkbox {
    margin-top: 7px;
}

.botoes-acoes {
    display: flex;
    justify-content: space-between;
}

.search {
    margin-left: 40px;
}

.sem-post {
    color: rgb(143, 0, 0);
}

.container-sem-post {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    text-align: center;
}
